@use "sass:color";
/* Global variables, default to dark mode */
$background-color: #333;
$background-color-light1: color.adjust($background-color, $lightness: 10%);
$background-color-dark1: color.adjust($background-color, $lightness: -10%);
$background-color-light2: color.adjust($background-color, $lightness: 20%);
$background-color-light3: color.adjust($background-color, $lightness: 30%);
$text-color: #f0f0f0;
$text-color-dark1: color.adjust($text-color, $lightness: -10%);
$text-color-dark2: color.adjust($text-color, $lightness: -20%);
$text-color-dark3: color.adjust($text-color, $lightness: -30%);
$lighten: 10%;
$darken: -15%;

$normal: #9FA19F;
$fire: #E62829;
$water: #2980EF;
$electric: #FAC000;
$grass: #3FA129;
$ice: #3DCEF3;
$fighting: #FF8000;
$poison: #9141CB;
$ground: #915121;
$flying: #81B9EF;
$psychic: #EF4179;
$bug: #91A119;
$rock: #AFA981;
$ghost: #704170;
$dragon: #5060E1;
$dark: #624D4E;
$steel: #60A1B8;
$fairy: #EF70EF;
$stellar: #40B5A5;
$tera: #40B5A5;

$text-shadow: 0 1px 0 black, 0 0 1px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.8), 0 0 4px rgba(0, 0, 0, 0.9);
$text-shadow-inverse: 0 1px 0 $text-color, 0 0 1px rgba(240, 240, 240, 0.6), 0 0 2px rgba(240, 240, 240, 0.7), 0 0 3px rgba(240, 240, 240, 0.8), 0 0 4px rgba(240, 240, 240, 0.9);

@media (prefers-color-scheme: light) {
  $background-color: #f0f0f0;
  $text-color: #333;
}

// $tera-bg: linear-gradient(40deg, rgba)

$type-colors: (
  normal: (
    base: $normal,
    light: color.adjust($normal, $lightness: $lighten),
    dark: color.adjust($normal, $lightness: $darken),
  ),
  fire: (
    base: $fire,
    light: color.adjust($fire, $lightness: $lighten),
    dark: color.adjust($fire, $lightness: $darken),
  ),
  water: (
    base: $water,
    light: color.adjust($water, $lightness: $lighten),
    dark: color.adjust($water, $lightness: $darken),
  ),
  electric: (
    base: $electric,
    light: color.adjust($electric, $lightness: $lighten),
    dark: color.adjust($electric, $lightness: $darken),
  ),
  grass: (
    base: $grass,
    light: color.adjust($grass, $lightness: $lighten),
    dark: color.adjust($grass, $lightness: $darken),
  ),
  ice: (
    base: $ice,
    light: color.adjust($ice, $lightness: $lighten),
    dark: color.adjust($ice, $lightness: $darken),
  ),
  fighting: (
    base: $fighting,
    light: color.adjust($fighting, $lightness: $lighten),
    dark: color.adjust($fighting, $lightness: $darken),
  ),
  poison: (
    base: $poison,
    light: color.adjust($poison, $lightness: $lighten),
    dark: color.adjust($poison, $lightness: $darken),
  ),
  ground: (
    base: $ground,
    light: color.adjust($ground, $lightness: $lighten),
    dark: color.adjust($ground, $lightness: $darken),
  ),
  flying: (
    base: $flying,
    light: color.adjust($flying, $lightness: $lighten),
    dark: color.adjust($flying, $lightness: $darken),
  ),
  psychic: (
    base: $psychic,
    light: color.adjust($psychic, $lightness: $lighten),
    dark: color.adjust($psychic, $lightness: $darken),
  ),
  bug: (
    base: $bug,
    light: color.adjust($bug, $lightness: $lighten),
    dark: color.adjust($bug, $lightness: $darken),
  ),
  rock: (
    base: $rock,
    light: color.adjust($rock, $lightness: $lighten),
    dark: color.adjust($rock, $lightness: $darken),
  ),
  ghost: (
    base: $ghost,
    light: color.adjust($ghost, $lightness: $lighten),
    dark: color.adjust($ghost, $lightness: $darken),
  ),
  dragon: (
    base: $dragon,
    light: color.adjust($dragon, $lightness: $lighten),
    dark: color.adjust($dragon, $lightness: $darken),
  ),
  dark: (
    base: $dark,
    light: color.adjust($dark, $lightness: $lighten),
    dark: color.adjust($dark, $lightness: $darken),
  ),
  steel: (
    base: $steel,
    light: color.adjust($steel, $lightness: $lighten),
    dark: color.adjust($steel, $lightness: $darken),
  ),
  fairy: (
    base: $fairy,
    light: color.adjust($fairy, $lightness: $lighten),
    dark: color.adjust($fairy, $lightness: $darken),
  ),
  stellar: (
    base: $stellar,
    light: color.adjust($stellar, $lightness: $lighten),
    dark: color.adjust($stellar, $lightness: $darken),
  ),
);