.DS_Store
/node_modules
/dist
/old_dist
/src/index.css
/src/index.css.map
/src/js/modules/fuzzy-search.js
/src/js/third_party/class-tools.min.js
/src/json/notes
/src/json/exceptions_old.json
/src/json/gen6default.json
/src/svg/arrow-down.svg
/src/svg/arrow-up.svg
# Dockerfile
# nginx.conf
/server/input-test.log
/server/output-test.log
anonymize