<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BALL MONSTER</title>
  <meta name="description" content="A Pokemon type calculator with support for all generations.">
  <meta name="color-scheme" content="dark light">
  <meta name="darkreader-lock">
  <script src="/js/htmx.min.js"></script>
  <script src="/js/class-tools.min.js"></script>
  <script src="/js/preload.min.js"></script>
  <link rel="stylesheet" href="/dist/index.css">
</head>
<body classes="add appear" hx-ext="class-tools, preload" ondragstart="return false;">
  <header>
    <!-- <img src="/svg/pokecalcgg.min.svg" alt="pokecalcgg"> -->
    <div>
      <h1>BALL</h1>
      <img src="/svg/ball_gs.min.svg"></img>
      <h1>MONSTER</h1>
    </div>
    <p>...a Pokémon type calculator.</p>
  </header>
  <nav hx-boost="true">
    <a href="#" id="offense" hx-get="/pages/offense" hx-target="#content" hx-swap="innerHTML" class="page-link active" aria-label="Offense" preload="mouseover">Offense</a>
    <a href="#" id="defense" hx-get="/pages/defense" hx-target="#content" hx-swap="innerHTML" class="page-link" aria-label="Defense" preload="mouseover">Defense</a>
    <a href="#" id="more" hx-get="/pages/more" hx-target="#content" hx-swap="innerHTML" class="page-link" aria-label="More" preload="mouseover">More</a>
  </nav>

  <main id="content" data-mode="offense" hx-get="/pages/offense" hx-trigger="load">
  </main>
  <script src="/js/scripts.js" defer></script>
</body>
</html>