<!DOCTYPE html>
<html lang="en" class="preload">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BALL MONSTER</title>
  <meta name="description" content="A Pokémon type calculator with support for all generations.">
  <meta name="color-scheme" content="dark light">
  <meta name="darkreader-lock">
  <style>
    html.preload {
      opacity: 0;
    }
  </style>
  <link rel="stylesheet" href="/index.css">
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" type="image/svg+xml" href="/icon.svg">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <script src="/js/third_party/htmx.min.js"></script>
  <script src="/js/third_party/preload.min.js"></script>
  <script src="/js/third_party/fuse.min.js"></script>
</head>
<body hx-ext="preload">
  <header>
    <!-- <img src="/svg/pokecalcgg.min.svg" alt="pokecalcgg"> -->
    <div class="banner-wrapper">
      <div class="banner">
        <img src="/svg/ball.min.svg"></img>
        <img src="/svg/ball_bm.min.svg"></img>
        <img src="/svg/monster.min.svg"></img>
      </div>
    </div>
    <p>...a Pokémon type calculator.</p>
  </header>
  <nav hx-boost="true">
    <div class="nav-links">
      <a href="#" id="offense" hx-get="/pages/offense.html" hx-target="#content" hx-swap="innerHTML" class="page-link active" aria-label="Offense" preload="mouseover">Offense</a>
      <a href="#" id="defense" hx-get="/pages/defense.html" hx-target="#content" hx-swap="innerHTML" class="page-link" aria-label="Defense" preload="mouseover">Defense</a>
      <a href="#" id="more" hx-get="/pages/more.html" hx-target="#content" hx-swap="innerHTML" class="page-link" aria-label="More" preload="mouseover">More</a>
    </div>
    <div class="gen-display">
      <h4>Current Gen: </h4>
      <span id="gen"></span>
    </div>
  </nav>
  <div id="search-layer">
    <div id="search-backdrop" class="search-backdrop hidden"></div>
    <div id="search-container" class="search-container">
      <input
        type="search"
        id="search"
        name="search"
        autocomplete="off"
        maxlength="30"
      />
      <div id="search-results" class="search-results hidden"></div>
    </div>
  </div>

  <div id="spinner" class="hidden" aria-label="Loading site...">
    <svg width="60" height="60" viewBox="0 0 50 50">
      <circle
        class="spinner-circle"
        cx="25"
        cy="25"
        r="20"
        fill="none"
        stroke="#cf980f"
        stroke-width="3"
        stroke-linecap="round"
        stroke-dasharray="60 120"
      >
    </svg>
  </div>

  <main id="content" class="preload" data-mode="offense" hx-get="/pages/offense.html" hx-trigger="load">
  </main>
  <script type="module" src="/js/scripts.js" defer></script>
  </body>
</html>