/* Defense page styles */
.defense {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  margin-left: 1rem;

  .selectable-d,
  .effectiveness-results {
    width: 100%;
    flex: 1 1 0;
    min-width: 0;
  }
}

#diag {
  // border: 1px solid white;
  stroke: var(--text-color-dark3);
  stroke-width: 4;
  stroke-linecap: round;
  width: 14px;
  height: 38px;
  position: relative;
  margin-right: 10px;
}

// #diag:after {
//   content: "";
//   position: absolute;
//   border-top: 1px solid var(--text-color-dark3);
//   width: 40px;
//   transform: rotate(300deg);
//   transform-origin: 60% 3900%;
// }

.exceptions-d {
  display: grid;
  margin-right: 1rem;
}

.select-container-d {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  
  select {
    max-width: none;
  }
}

// .tera-types {

// }

@media (min-width: 768px) {
  .defense {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;

    .selectable-d,
    .effectiveness-results {
      width: unset;
      flex: 1 1 0;
      min-width: 0;
    }
  }

  .select-container-d {
    grid-template-columns: repeat(2, max-content);
    gap: 1rem;
  }
}