@use "variables" as v;

body.not-found {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  user-select: none;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}