@use "variables" as v;
/* Offense page styles */
.offense {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: 1rem;

  .selectable-o,
  .effectiveness-results {
    width: 100%;
    flex: 1 1 0;
    min-width: 0;
  }
}

.exceptions-o {
  display: grid;
  margin-right: 1rem;
}


// .special-moves-o {

// }

.select-container-o {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  
  select {
    max-width: none;
  }
}

@media (min-width: 768px) {
  .offense {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;

    .selectable-o {
      width: unset;
      flex: 1 2 0;
      min-width: 0;
    }

    .effectiveness-results {
      width: unset;
      flex: 1 1 0;
      min-width: 0;
    }
  }

  // .select-container-o {
  //   flex-direction: row;
  // }
}